<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!--
    Default Root Suite Runner
    Run specific suites dynamically with:
    mvn test -DsuiteXmlFile=src/test/resources/suites/testng_smoke.xml
    mvn test -DsuiteXmlFile=src/test/resources/suites/testng_regression.xml
    mvn test -DsuiteXmlFile=src/test/resources/suites/testng_apilearning.xml
-->
<suite name="Appium Android Master Suite" verbose="2" parallel="none">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="Default Smoke &amp; Sanity Tests" preserve-order="true">
        <classes>
            <class name="testcases.android.LaunchApp"/>
            <class name="testcases.android.LoginTest"/>
        </classes>
    </test>

</suite>
